:root{
  --ow-theme-color: #df5d43 !important;
  --ow-topbar-color: #d3d3d3 !important;
}

/* TOPBAR */
.swagger-ui .topbar {
  padding: 10px 0;
  background-color: var(--ow-topbar-color);
}
.swagger-ui .topbar .download-url-wrapper input[type=text] {
  border-color: #df5d43;
}
.swagger-ui .topbar .download-url-wrapper .download-url-button{
  background: var(--ow-theme-color);
}
#swagger-ui > section > div.topbar > div > div > a > img{
  content: url(../ui/openwisp/images/openwisp-logo-black.svg);
}

/* AUTH BTN */
#django-session-auth .btn.authorize a {
  color: var(--ow-theme-color);
  text-decoration: none;
}
#django-session-auth > div.btn.authorize{
  border-color: var(--ow-theme-color);
}
#swagger-ui > section > div.swagger-ui > div:nth-child(2) > div.scheme-container > section > div > button{
  border-color: var(--ow-theme-color);
}
#swagger-ui > section > div.swagger-ui > div:nth-child(2) > div.scheme-container > section > div > button > span{
  color: var(--ow-theme-color);
}
.swagger-ui .btn.authorize svg {
  fill: var(--ow-theme-color);
}
#swagger-ui > section > div.swagger-ui > div:nth-child(2) > div.scheme-container > section > label > select > option:focus{
  color: var(--ow-theme-color);
}

/* AUTH FORM */
.swagger-ui .btn.authorize {
  color: var(--ow-theme-color);
  border-color: var(--ow-theme-color);
}

/* AUTH LABEL */
.label-primary {
  background-color: var(--ow-theme-color);
}

/* OPBLOCK */
.swagger-ui .opblock.opblock-post{border-color: var(--ow-theme-color);background: rgba(73,204,144,.1);}
.swagger-ui .opblock.opblock-post .opblock-summary-method{background: var(--ow-theme-color);}
.swagger-ui .opblock.opblock-post .opblock-summary{border-color: var(--ow-theme-color);}
.swagger-ui .opblock.opblock-post .tab-header .tab-item.active h4 span:after{background: var(--ow-theme-color);}
.swagger-ui .opblock.opblock-post .tab-header .tab-item.active h4 span:after{background: var(--ow-theme-color);}
