.ow-help-text {
  background-color: #ffe5e5;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: bolder;
  display: flex;
}
.ow-help-text img {
  min-width: 30px;
}
.ow-help-text a {
  color: #df5d43;
}
