.help-text-warning {
  background-color: #ffe5e5;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: bolder;
  display: flex;
}
.help-text-warning img {
  min-width: 30px;
}
.help-text-warning a {
  color: #df5d43;
}
