body { min-width: 320px }
#header{
    background-color: #464646;
    color: #fff;
    height: auto;
    padding: 17px 40px;
}

#site-name a{
    display: block;
    width: 150px;
    height: 70px;
    background: url(../../../static/ui/openwisp/images/openwisp-logo.svg) no-repeat scroll 0 50% / 100%;
    text-indent: -2000px;
    overflow: hidden;
}

.login #branding{
    float: none;
    padding: 8px 0;
    margin: 0 auto;
}
.login #site-name a{ margin: 0 auto }

.button.default,
input[type=submit].default,
.submit-row input.default,
.object-tools a:focus,
.object-tools a:hover{
    background-color: #333;
}

.button.default:active, input[type=submit].default:active,
.button.default:focus, input[type=submit].default:focus,
.button.default:hover, input[type=submit].default:hover{
    background-color: #000;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #fff;
}

div.breadcrumbs,
.module h2, .module caption, .inline-group h2,
#container .selector-chosen h2{
    background-color: #df5d43;
    color: #fff;
}

div.breadcrumbs{
    color: #ffcbc0
}

div.breadcrumbs a:focus, div.breadcrumbs a:hover{
    color: #ffe8e3
}

.button, input[type=submit], input[type=button], .submit-row input, a.button{
    background-color: #666;
}

.button:active, input[type=submit]:active, input[type=button]:active,
.button:focus, input[type=submit]:focus, input[type=button]:focus,
.button:hover, input[type=submit]:hover, input[type=button]:hover {
    background-color: #444;
}

#user-tools a:focus, #user-tools a:hover{
    border-bottom-color: #ffcbc0;
    color: #ffcbc0;
}

#container .object-tools a{
    padding: 5px 15px;
}

#container .object-tools a.addlink{ padding-right: 28px }

table thead th.sorted .sortoptions a.sortremove:focus:after,
table thead th.sorted .sortoptions a.sortremove:hover:after,
a:link, a:visited {
    color: #777;
}

a:focus, a:hover {
    color: #000;
}

#changelist-filter li.selected a{
    color: #df5d43 !important
}

#netjsonconfig-hint, #netjsonconfig-hint a,
#container .field-backend a{ color: #df5d43 }

#main .form-row label {
    color: #1b1818;
}
#main .form-row .help {
    margin-top: 3px;
    font-size: 13px;
    color: #797572;
}

/* hide first delete link, hide save and add anoher */
#main .submit-row:first-child .deletelink-box,
.submit-row input[name="_addanother"] { display: none }
#main .submit-row .default { background: #498b26 }

/* temporary frontend fix */
a.button.secondaryAction{
    background: transparent;
    border: 0 none;
    padding: 0;
    margin: 15px 0;
    display: block;
}

/* menu */

html { overflow-x: hidden }

.nav-icon {
    height: 16px;
    vertical-align: middle;
    position: relative;
    top: -1px;
}

.nav-text {
    vertical-align: middle;
    display: inline-block;
}

#nav-activate {
    position: absolute;
    right: 40px;
    cursor: pointer;
    margin-top: 0;
    padding: 0 20px;
    background-color: #222;
    text-transform: uppercase !important;
    color: #fff !important;
    font-size: 14px !important;
    line-height: 40px !important;
}

#nav-activate:hover { background-color: #000 }
#nav-activate:focus { outline: none }

#user-tools { padding-right: 80px }

#main-menu {
    opacity: 0;
    padding: 0 37px;
    margin-top: 0;
    width: 180px;
    overflow: hidden;
    position: absolute;
    z-index: 9999 !important;
    right: -270px;
    top: 0;
    background-color: #464646;
    z-index: 10;
    transition: all .5s;
}

/* avoid change list filter to cover menu */
#changelist-filter{ z-index: 9 !important }

#menu-toggle {
    position: absolute;
    left: -20px;
}

#menu-toggle:checked ~ #main-menu, #main-menu:focus-within {
    opacity: 1;
    left: auto;
    right: 0;
}

#main-menu a {
    display: block;
    text-align: center;
    padding: 15px 0px 15px;
    margin: 0 0 8px 0;
    background-color: #222;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}
#main-menu a:hover,
#main-menu a:focus {
    text-decoration: none !important;
    background-color: #000;
}
#main-menu > a:first-child { margin-top: 15px }
#main-menu .account { margin-top: 0 }
#main-menu .account a { background-color: #453232 }
#main-menu .account a:hover,
#main-menu .account a:focus { background-color: #2f1e1e }

#user-tools .user {
  background: transparent url(../../ui/openwisp/images/user.svg) no-repeat scroll 0 50%;
  background-size: 10px 10px;
  padding-left: 18px;
}

@media (max-width: 1024px) {
    #nav-activate {
        margin-top: 24px;
        right: 35px;
        line-height: 45px !important;
    }

    .nav-icon { height: 15px }

    #main-menu {
      padding-left: 35px;
      padding-right: 35px;
    }
    #main-menu a { margin-bottom: 12px }
    #main-menu .account { margin-top: 0 }
    #user-tools { margin-left: 10px !important }
    #header { align-items: flex-start }
}

@media (min-width: 700px) {
    #login-form{ padding-bottom: 20px }
}
