body {
  min-width: 320px;
}
.button.default,
input[type='submit'].default,
.submit-row input.default,
.object-tools a:focus,
.object-tools a:hover {
  background-color: #333;
}
.button.default:active,
input[type='submit'].default:active,
.button.default:focus,
input[type='submit'].default:focus,
.button.default:hover,
input[type='submit'].default:hover {
  background-color: #000;
}
#main-content .breadcrumbs {
  background-color: #fff;
  border-bottom: 2px solid #eaeaea;
}
#main-content .breadcrumbs a {
  color: #747272;
}
.button,
input[type='submit'],
input[type='button'],
.submit-row input,
a.button {
  background-color: #666;
}
.button:active,
input[type='submit']:active,
input[type='button']:active,
.button:focus,
input[type='submit']:focus,
input[type='button']:focus,
.button:hover,
input[type='submit']:hover,
input[type='button']:hover {
  background-color: #444;
}
#user-tools a:focus,
#user-tools a:hover {
  border-bottom-color: #ffcbc0;
  color: #ffcbc0;
}
#container .object-tools a {
  padding: 5px 15px;
}
#container .object-tools a.addlink {
  padding-right: 28px;
}
table thead th.sorted .sortoptions a.sortremove:focus:after,
table thead th.sorted .sortoptions a.sortremove:hover:after,
a:link,
a:visited {
  color: #777;
}
a:focus,
a:hover {
  color: #000;
}
#changelist-filter li.selected a {
  color: #df5d43 !important;
}
#netjsonconfig-hint,
#netjsonconfig-hint a,
#container .field-backend a {
  color: #df5d43;
}
#main .form-row label {
  color: #1b1818;
}
#main .form-row .help {
  margin-top: 3px;
  font-size: 13px;
  color: #797572;
}
#branding h1,
#branding h1 a:link,
#branding h1 a:visited {
  color: #fff;
}

/* hide first delete link, hide save and add anoher */
#main .submit-row:first-child .deletelink-box,
.submit-row input[name='_addanother'] {
  display: none;
}
#main .submit-row .default {
  background: #498b26;
}

/* temporary frontend fix */
a.button.secondaryAction {
  background: transparent;
  border: 0 none;
  padding: 0;
  margin: 15px 0;
  display: block;
}
html {
  overflow-x: hidden;
}
.ow-overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
}
.ow-overlay-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.ow-loading-spinner {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.9);
  margin: 0 auto;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
div.breadcrumbs,
.module h2,
.module caption,
.inline-group h2,
#container .selector-chosen h2 {
  background-color: #333333;
  color: #fff;
  padding: 14px 16px;
  font-size: 13px;
  line-height: 16px;
}
body.login {
  background: #f4f7f6;
}
.login #container {
  box-shadow: 0px 0px 6px #f4f7f6;
}

/*
  Common button style for all
  buttons having a toggle effect
*/
.toggle-button {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 2px #00000040;
  border-radius: 4px;
  background: #ffff;
  cursor: pointer;
  border: 0px;
}

/* MAIN CONTENT START */
#main-content {
  margin-left: 300px;
}
.popup #main-content {
  margin-left: 0px;
}
.login #main-content {
  padding-bottom: 20px;
}
#main-content.m-0 {
  margin: 0px;
}

/* HEADER START */

#main-content #header {
  top: 0px;
  position: sticky;
  width: 100%;
  padding: 0px;
  overflow: visible;
  z-index: 100;
}

/* 
  NOTE:
  "menu-toggle" is a class of a button which is use to close menu.
  "toggle-menu" is a class toggled on "#contianer" when menu changes it state.
*/

/* MENU TOGGLE BUTTONS */

.hamburger {
  padding: 13px 12px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: none;
}
.hamburger:hover {
  background: #efefef;
}
.hamburger i {
  background: url(../../ui/openwisp/images/hamburger.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 22px;
  width: 22px;
  display: inline-block;
}
.menu-toggle {
  position: absolute;
  right: -20px;
  bottom: 50px;
  width: 40px;
  z-index: 1;
}
.menu-toggle i {
  mask-image: url(../../ui/openwisp/images/left-arrow.svg);
  -webkit-mask-image: url(../../ui/openwisp/images/left-arrow.svg);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  background: #747272;
  height: 22px;
  width: 22px;
}
.toggle-menu .menu-toggle {
  display: none;
}
.toggle-menu .hamburger {
  display: flex;
}

/* MENU START */

h1#site-name {
  margin: 0px;
  padding: 8px 0px;
}
#site-name a {
  display: block;
  width: 150px;
  height: 86px;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  background: url(../../../static/ui/openwisp/images/openwisp-logo-black.svg)
  no-repeat scroll 0 50%/100%;
  text-indent: -2000px;
}
#menu {
  position: fixed;
  width: 300px;
  background: #fcfcfc;
  height: 100vh;
  z-index: 100;
  box-shadow: 0 1px 4px -1px #00000026;
  top: 0px;
  left: 0px;
  overflow: visible;
}
.login #menu {
  box-shadow: none;
}
.menu-bar {
  border-bottom: 2px solid #f6f6f6;
}
#menu .nav {
  height: calc(100% - 118px);
  overflow-y: hidden;
  color: #747272;
  padding: 10px 10px 0px 10px;
}
#menu .nav:hover {
  overflow-y: auto;
  overflow-y: overlay;
}
a.menu-item,
.mg-list a,
.mg-head {
  display: flex;
  padding: 16px 12px;
  word-break: break-word;
  cursor: pointer;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  align-items: center;
  width: 248px;
  margin: auto;
  margin-top: 2px;
}
.menu-item i,
.mg-heading i,
.mg-list a i {
  background: #747272;
  width: 22px;
  height: 22px;
  margin-right: 22px;
  flex-shrink: 0;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: 22px;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 22px;
}
.menu-item:hover,
.mg-head:hover,
.mg-list a:hover {
  color: #f85359;
  background: #eee;
}
.menu-item:hover i,
.mg-head:hover i,
.mg-list a:hover i,
.menu-group.active .mg-head i {
  background: #f85359;
}
.mg-head {
  justify-content: space-between;
}
.mg-dropdown-label {
  text-transform: uppercase;
}
.special-label {
  position: fixed;
  left: 70px;
  background: #747272;
  color: white;
  max-width: 280px;
  padding: 10px 12px;
  display: none;
  border-radius: 3px;
  z-index: 2;
}
.show-sp-label {
  display: block;
}
.menu-group {
  border-radius: 8px;
}
.mg-list a {
  font-weight: 300;
  font-size: 14px;
  padding: 4px 12px;
  text-transform: capitalize;
}
.menu-arrow {
  flex-shrink: 0;
  mask-image: url(../../ui/openwisp/images/down-arrow.svg);
  -webkit-mask-image: url(../../ui/openwisp/images/down-arrow.svg);
  background-size: 20px;
  height: 20px;
  width: 20px;
  margin-left: 20px;
  -webkit-mask-position: center;
  mask-position: center;
  background: #747272;
  background-position: center;
  background-repeat: no-repeat;
}
.mg-list {
  padding: 0px;
  overflow: hidden;
  margin: 0px;
  transition: height 0.05s;
  margin-top: -10px;
}
.mg-list li {
  list-style: none;
}
.mg-heading,
.mg-list i,
.menu-arrow {
  pointer-events: none;
}
.menu-group.active .mg-dropdown {
  display: block;
}
.mg-heading {
  display: flex;
  align-items: center;
}
.menu-group.active .mg-head {
  color: #f85359;
}
.toggle-menu #menu {
  width: 60px;
}
.toggle-menu #menu .nav {
  height: calc(100% - 48px);
}
.toggle-menu #main-content {
  margin-left: 60px;
}
.toggle-menu .menu-item i,
.toggle-menu .mg-heading i {
  margin: 0px;
}
.toggle-menu .menu-item,
.toggle-menu .mg-head {
  justify-content: center;
  border-radius: 0px;
  width: auto;
}
.toggle-menu #menu .nav {
  padding: 0px;
}
.toggle-menu .menu-label,
.toggle-menu .menu-arrow,
.toggle-menu #site-name,
.mg-dropdown,
.toggle-menu .menu-group.active .menu-label,
.mg-dropdown-label {
  display: none;
}
.toggle-menu .mg-dropdown {
  position: absolute;
  display: block;
  left: 64px;
  visibility: hidden;
}
.toggle-menu .mg-dropdown-label {
  display: block;
  color: #fff;
  background: #747272;
  padding: 10px 14px;
  border-radius: 8px;
}
.toggle-menu .mg-list {
  background: #eee;
  border-radius: 8px;
  padding: 10px 0px;
  margin-top: 2px;
}
.toggle-menu .mg-head i {
  background: #747272;
}
.toggle-menu .menu-group {
  border-radius: 0px;
}
.menu-group.active .menu-arrow {
  transform: rotate(-90deg);
}
.menu-group.active {
  background: #eee;
}
.toggle-menu .menu-group.active .mg-dropdown {
  position: fixed;
  visibility: visible;
}
.toggle-menu .menu-item:hover i,
.toggle-menu .menu-group-head:hover i {
  background: #747272;
}

/* USER TOOLS */

#ow-user-tools {
  position: absolute;
  top: 6px;
  right: 10px;
  color: #747272;
  display: flex;
  z-index: 10;
}
.account-menu {
  position: absolute;
  width: 200px;
  top: 40px;
  right: 0px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 1px 3px #00000040;
  z-index: 10;
  padding: 10px;
}
#ow-user-tools i {
  height: 22px;
  width: 22px;
  display: inline-block;
  background: #797572;
  margin-right: 10px;
}
.account-button {
  height: auto;
  padding: 5px 8px;
  position: relative;
}
.account-menu li {
  list-style: none;
  margin-bottom: 5px;
  border-bottom: 2px solid #f6f6f6;
  padding: 6px 0px;
}
.account-menu-username {
  justify-content: center;
  align-items: center;
  display: none;
}
#header .account-menu a {
  color: #747272;
  display: flex;
}
#header .account-menu li:last-child {
  border-bottom: 0px;
}
.account {
  position: relative;
}
.nav-show-mg {
  overflow: visible !important;
}

/* RESPONSIVE */

@media (max-width: 1024px) {
  #main-content {
    margin-left: 60px;
  }
  #main-content .breadcrumbs {
    padding: 16px 20px;
  }
  #main-content #header {
    padding: 0px;
  }
  #menu {
    width: 60px;
  }
  .hamburger {
    display: flex;
  }

  .menu-item i,
  .mg-heading i {
    margin: 0px;
  }
  .menu-item:hover i,
  .mg-head:hover i {
    background: #747272;
  }
  a.menu-item,
  .mg-head {
    justify-content: center;
    word-break: keep-all;
    border-radius: 0px;
    width: auto;
  }

  .menu-group {
    border-radius: 0px;
  }

  #menu .nav {
    padding: 0px;
    height: calc(100% - 48px);
  }

  .mg-list {
    left: 70px;
    width: 280px;
    background: #eee;
    border-radius: 8px;

    /* display: none; */
    padding: 10px 0px;
    margin-top: 0px;
  }

  .menu-group.active .mg-list {
    display: block;
    height: auto;
  }
  .menu-group.active .menu-label {
    display: none;
  }
  .mg-dropdown-label{
    display: block;
    color: #fff;
    background: #747272;
    padding: 10px 14px;
    border-radius: 8px;
  }
  .toggle-menu .mg-dropdown-label{
    display: none;
  }
  .mg-dropdown {
    position: absolute;
    left: 70px;
    width: 280px;
    visibility: hidden;
    display: block;
  }
  .menu-group.active .mg-dropdown {
    visibility: visible;
    position: fixed;
  }
  .menu-group.active .mg-dropdown-label {
    display: block;
    margin-bottom: 2px;
    background: #747272;
    color: #fff;
    border-radius: 8px;
    padding: 10px 14px;
  }
  .toggle-menu .hamburger,
  .menu-label,
  .menu-arrow,
  .menu-toggle,
  #site-name {
    display: none;
  }
  .toggle-menu #menu {
    width: 300px;
  }
  .toggle-menu #site-name {
    display: block;
  }
  .toggle-menu .menu-toggle {
    display: flex;
  }
  .toggle-menu .menu-item i,
  .toggle-menu .mg-heading i {
    margin-right: 22px;
  }
  .toggle-menu .menu-group {
    border-radius: 8px;
  }
  .toggle-menu .menu-label {
    display: block;
  }
  .toggle-menu .menu-arrow {
    display: flex;
  }
  .toggle-menu #menu .nav {
    padding: 10px 10px 0px 10px;
    width: auto;
    height: calc(100% - 118px);
  }

  .toggle-menu .menu-item:hover i,
  .toggle-menu .mg-head:hover i {
    background: #f85359;
  }
  .toggle-menu .menu-group.active .menu-label {
    display: block !important;
  }

  .toggle-menu .menu-group .mg-dropdown .mg-dropdown-label {
    display: none;
  }
  .toggle-menu .menu-group.active .mg-dropdown {
    position: relative;
    left: 0;
    margin-top: 0px;
    visibility: visible;
  }
  .toggle-menu .menu-group.active .menu-label {
    display: block;
  }

  .toggle-menu .menu-group.active .menu-arrow {
    transform: rotate(-90deg);
  }
  .toggle-menu .menu-item,
  .toggle-menu .mg-heading a {
    justify-content: flex-start;
    border-radius: 8px;
  }
  .toggle-menu .mg-head {
    justify-content: space-between;
    border-radius: 8px;
    word-break: break-word;
    width: 248px;
  }

  .toggle-menu .mg-list {
    position: relative;
    display: block;
    left: 0;
    padding: 0px;
    height: 0px;
  }
  .toggle-menu .menu-group.active .mg-list {
    position: relative;
    width: auto;
    padding: 0px;
    left: 0px;
    margin-top: -10px;
  }
  .toggle-menu #main-content {
    margin-left: 300px;
  }
}
@media (max-width: 768px) {
  #container::-webkit-scrollbar {
    display: none !important;
  }
  #container {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .toggle-menu .hamburger {
    display: flex;
  }
  h1#site-name {
    margin-left: 10px;
  }
  #menu {
    height: 56px;
  }
  #header {
    margin-bottom: 56px;
  }
  #header.m-0 {
    margin: 0px;
  }
  #menu .nav {
    height: 0px;
  }
  .toggle-menu #menu .nav {
    height: calc(100% - 68px);
    overflow-y: auto;
    overflow-y: overlay;
  }
  #header {
    background: #fff;
  }
  #ow-user-tools {
    top: 12px;
  }
  .head {
    display: flex;

    /* width: 100%; */
  }
  #site-name {
    display: block;
  }
  #site-name a {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat !important;
    background: url(../../../static/ui/openwisp/images/openwisp-logo-small.svg);
  }
  a.menu-item,
  .mg-list a {
    justify-content: flex-start;
  }
  .menu-item i,
  .mg-heading i {
    margin-right: 22px;
  }
  .mg-head {
    justify-content: space-between;
  }
  .menu-item .menu-label,
  .mg-head.menu-label {
    display: block;
    position: relative;
    left: 0px;
    background: inherit;
    color: inherit;
  }
  .menu-arrow {
    display: flex;
  }

  .menu-item:hover i,
  .menu-group-head:hover i {
    background: #f85359;
  }
  .menu-group.active .mg-list {
    position: relative;
    width: auto;
    left: 0;
  }
  #menu {
    margin-left: 0px;
    width: 100%;
  }
  .toggle-menu #menu {
    margin: 0px;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    min-width: 306px;
  }
  #main-content,
  .toggle-menu #main-content {
    margin: 0px;
  }

  .toggle-menu .mg-head {
    width: auto;
  }
  .menu-toggle {
    display: none !important;
  }
  .account-button {
    padding: 5px 8px;
  }
  .account-button strong {
    display: none;
  }
  #ow-user-tools .account-button .user {
    margin: 0px;
  }
  .account-menu-username {
    display: flex;
  }
}

/* LOGIN PAGE */
.hide {
  display: none;
}
.login #menu {
  position: relative;
  height: auto;
  width: 100%;
}
.login .head {
  display: block;
}
.login #site-name {
  display: block;
}
.login #site-name a {
  background: url(../../../static/ui/openwisp/images/openwisp-logo-black.svg)
  no-repeat scroll 0 50%/100%;
  text-indent: -2000px;
  width: 150px;
  height: 86px;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
}
.login .hamburger {
  display: none;
}

/* ICONS */
.home {
  mask-image: url(../../ui/openwisp/images/dashboard.svg);
  -webkit-mask-image: url(../../ui/openwisp/images/dashboard.svg);
}
.password {
  mask-image: url(../../ui/openwisp/images/password.svg);
  -webkit-mask-image: url(../../ui/openwisp/images/password.svg);
}
.logout {
  mask-image: url(../../ui/openwisp/images/logout.svg);
  -webkit-mask-image: url(../../ui/openwisp/images/logout.svg);
}
