#plot-container {
  padding: 10px 40px;
  text-align: center;
}
.js-plotly-plot {
  display: inline-block;
}
.js-plotly-plot .surface{
  cursor: pointer;
}
.js-plotly-plot .legendtext,
.js-plotly-plot .hoverlayer{
  text-transform: capitalize;
}
.dashboard:not([class*="app-"]) #container #content {
  margin: 0 auto;
  width: auto;
}
.dashboard:not([class*="app-"]) #container #content-main {
  width: 63%;
}
.dashboard:not([class*="app-"]) #container #content-related {
  width: 35%;
  margin-left: 2%;
  margin-right: 0;
}

@media (max-width: 767px) {
  .dashboard:not([class*="app-"]) #container #content-main,
  .dashboard:not([class*="app-"]) #container #content-related {
    width: 100% !important;
    margin-left: 0;
  }
}
