{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | {{ site_title }}{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/openwisp.css" %}" />
<link rel="icon" type="image/x-icon" href="{% static "ui/openwisp/images/favicon.png" %}" />
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header }}</a></h1>
{% endblock %}

{% block nav-global %}
{% if has_permission %}

{{ test }}

<label for="menu-toggle" tabindex="-1" id="nav-activate">
    <img class="nav-icon" src="{% static "ui/openwisp/images/menu.svg" %}" />
    <div class="nav-text">MENU</div>
</label>
<input type="checkbox" id="menu-toggle" tabindex="-1" />

<div id="nav-top">
    <a class="nav-button" href="/admin/">Home</a>
    <!-- available_apps here should be changed to something else -->
    {% for item in available_apps %}
    {% for model in item.models %}
    <a class="nav-button" href="{{ model.admin_url }}">{{ model.name }}</a>
    {% endfor %}{% endfor %}

   <!--
    <a class="nav-button" href="/admin/config/device">Devices</a>
    <a class="nav-button" href="/admin/config/template">Templates</a>
    <a class="nav-button" href="/admin/config/vpn">VPN servers</a>
    <a class="nav-button" href="/admin/pki/ca">Certification Authorities</a>
    <a class="nav-button" href="/admin/pki/cert">Certificates</a>
    <a class="nav-button" href="/admin/openwisp_users/user">Users</a>
    <a class="nav-button" href="/admin/openwisp_users/group">Groups</a>
    <a class="nav-button" href="/admin/openwisp_users/organization">Organizations</a>
    -->
</div>
{% endif %}
{% endblock %}
