{% load i18n %}

<div class="ow-filter">
  {% for choice in choices %}
    {% if choice.selected %}
      <div class="filter-title" title="{{ choice.display }}">
      <h3>{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</h3>
        <div class="selected-option">
          {{ choice.display }}
        </div>
      </div>
    {% endif %}
  {% endfor %}
  <div class="filter-options">
    {% for choice in choices %}
      <a {% if choice.selected %} class="selected"{% endif %} title="{{ choice.display }}"
      href="{{ choice.query_string|iriencode }}">
      {{ choice.display }}</a>
    {% endfor %}
  </div>
</div>
