{% load i18n %}

<div class="ow-filter ow-input-filter">
  <div class="filter-title" title="{{ choice.display }}">
  {% with choices.0 as all_choice %}
    <h3>{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</h3>
    <form method="GET" action="">
      {% for key, value in all_choice.query_parts %}
      <input type="hidden" name="{{ key }}" value="{{ value }}" />
      {% endfor %}
      <input  type="text"
              class="ow-input-filter-field"
              title="{{ all_choice.value | default_if_none:'' }}"
              value="{{ all_choice.value | default_if_none:'' }}"
              name="{{ all_choice.parameter_name }}"
      />
      {% if not all_choice.selected %}
      <a  class='field-clear'
          title="{% trans 'Clear' %}"
          href="{{ all_choice.query_string }}">&#x2716;
      </a>
      {% endif %}
    </form>
  </div>
  <div class="filter-options">
  <a  name="{{ all_choice.parameter_name }}"
      parameter_name="{{ all_choice.parameter_name}}"
      href="?{{ all_choice.parameter_name }}={{ all_choice.value | default_if_none:'' }}">
  </a>
  </div>
  {% endwith %}
</div>
