{% load i18n %}
<div class="nav">
  {% comment %} <a class="menu-link" href="{% url 'admin:index' %}">
    <i class="home"></i>
    Very very very very very very long name
  </a>
  <div class="menu-group">
    <div class="menu-group-title">
      <div class="menu-group-toggle">
        <i class="controller"></i>Very very very very very very long name
      </div>
      <i class="menu-arrow"></i>
    </div>
    <ul>
      <li>
        <a class="menu-link" href="{% url 'admin:index' %}">
          <i class="template"></i>
          Very very very very very very very very long name
        </a>
      </li>
      <li>
        <a class="menu-link" href="{% url 'admin:index' %}">
          <i class=""></i>
          VPN Servers
        </a>
      </li>
      <li>
        <a class="menu-link" href="{% url 'admin:index' %}">
          <i class=""></i>
          Access Creadentials
        </a>
      </li>
    </ul>
  </div>
  <div class="menu-group">
    <div class="menu-group-title">
      <div class="menu-group-toggle"><i class="geo"></i>Logistic</div>
      <i class="menu-arrow"></i>
    </div>
    <ul>
      <li>
        <a class="menu-link" href=""><i class="location"></i>Locations</a>
      </li>
      <li>
        <a class="menu-link" href=""><i class="floor"></i>Floorplans</a>
      </li>
    </ul>
  </div>
  <div class="menu-group">
    <div class="menu-group-title">
      <div class="menu-group-toggle"><i class="pki"></i>PKI</div>
      <i class="menu-arrow"></i>
    </div>
    <ul>
      <li>
        <a class="menu-link" href=""><i></i>Certification Authorities</a>
      </li>
      <li>
        <a class="menu-link" href=""><i></i>Certificates</a>
      </li>
    </ul>
  </div>
  <div class="menu-group">
    <div class="menu-group-title">
      <div class="menu-group-toggle"><i class="config"></i>IPAM</div>
      <i class="menu-arrow"></i>
    </div>
    <ul>
      <li>
        <a class="menu-link" href=""><i></i>IP Addresses</a>
      </li>
      <li>
        <a class="menu-link" href=""><i></i>Subnets</a>
      </li>
    </ul>
  </div>
  <div class="menu-group">
    <div class="menu-group-title">
      <div class="menu-group-toggle">
        <i class="controller"></i>Configuration
      </div>
      <i class="menu-arrow"></i>
    </div>
    <ul>
      <li>
        <a class="menu-link" href=""><i class="template"></i>Templates</a>
      </li>
      <li>
        <a class="menu-link" href=""><i class="lock"></i>VPN Servers</a>
      </li>
      <li>
        <a class="menu-link" href=""><i></i>Access Creadentials</a>
      </li>
    </ul>
  </div>
  <div class="menu-group">
    <div class="menu-group-title">
      <div class="menu-group-toggle"><i class="geo"></i>Logistic</div>
      <i class="menu-arrow"></i>
    </div>
    <ul>
      <li>
        <a class="menu-link" href=""><i class="location"></i>Locations</a>
      </li>
      <li>
        <a class="menu-link" href=""><i class="floor"></i>Floorplans</a>
      </li>
    </ul>
  </div>
  <div class="menu-group">
    <div class="menu-group-title">
      <div class="menu-group-toggle"><i class="pki"></i>PKI</div>
      <i class="menu-arrow"></i>
    </div>
    <ul>
      <li>
        <a class="menu-link" href=""><i></i>Certification Authorities</a>
      </li>
      <li>
        <a class="menu-link" href=""><i></i>Certificates</a>
      </li>
    </ul>
  </div>
  <div class="menu-group">
    <div class="menu-group-title">
      <div class="menu-group-toggle"><i class="config"></i>IPAM</div>
      <i class="menu-arrow"></i>
    </div>
    <ul>
      <li>
        <a class="menu-link" href=""><i></i>IP Addresses</a>
      </li>
      <li>
        <a class="menu-link" href=""><i></i>Subnets</a>
      </li>
    </ul>
  </div>
  <div class="menu-group">
    <div class="menu-group-title">
      <div class="menu-group-toggle">
        <i class="controller"></i>Configuration
      </div>
      <i class="menu-arrow"></i>
    </div>
    <ul>
      <li>
        <a class="menu-link" href=""><i class="template"></i>Templates</a>
      </li>
      <li>
        <a class="menu-link" href=""><i class="lock"></i>VPN Servers</a>
      </li>
      <li>
        <a class="menu-link" href=""><i></i>Access Creadentials</a>
      </li>
    </ul>
  </div>
  <div class="menu-group">
    <div class="menu-group-title">
      <div class="menu-group-toggle"><i class="geo"></i>Logistic</div>
      <i class="menu-arrow"></i>
    </div>
    <ul>
      <li>
        <a class="menu-link" href=""><i class="location"></i>Locations</a>
      </li>
      <li>
        <a class="menu-link" href=""><i class="floor"></i>Floorplans</a>
      </li>
    </ul>
  </div>
  <div class="menu-group">
    <div class="menu-group-title">
      <div class="menu-group-toggle"><i class="pki"></i>PKI</div>
      <i class="menu-arrow"></i>
    </div>
    <ul>
      <li>
        <a class="menu-link" href=""><i></i>Certification Authorities</a>
      </li>
      <li>
        <a class="menu-link" href=""><i></i>Certificates</a>
      </li>
    </ul>
  </div>
  <div class="menu-group">
    <div class="menu-group-title">
      <div class="menu-group-toggle"><i class="config"></i>IPAM</div>
      <i class="menu-arrow"></i>
    </div>
    <ul>
      <li>
        <a class="menu-link" href=""><i></i>IP Addresses</a>
      </li>
      <li>
        <a class="menu-link" href=""><i></i>Subnets</a>
      </li>
    </ul>
  </div>
  <div class="menu-group">
    <div class="menu-group-title">
      <div class="menu-group-toggle">
        <i class="controller"></i>Configuration
      </div>
      <i class="menu-arrow"></i>
    </div>
    <ul>
      <li>
        <a class="menu-link" href=""><i class="template"></i>Templates</a>
      </li>
      <li>
        <a class="menu-link" href=""><i class="lock"></i>VPN Servers</a>
      </li>
      <li>
        <a class="menu-link" href=""><i></i>Access Creadentials</a>
      </li>
    </ul>
  </div>
  <div class="menu-group">
    <div class="menu-group-title">
      <div class="menu-group-toggle"><i class="geo"></i>Logistic</div>
      <i class="menu-arrow"></i>
    </div>
    <ul>
      <li>
        <a class="menu-link" href=""><i class="location"></i>Locations</a>
      </li>
      <li>
        <a class="menu-link" href=""><i class="floor"></i>Floorplans</a>
      </li>
    </ul>
  </div>
  <div class="menu-group">
    <div class="menu-group-title">
      <div class="menu-group-toggle"><i class="pki"></i>PKI</div>
      <i class="menu-arrow"></i>
    </div>
    <ul>
      <li>
        <a class="menu-link" href=""><i></i>Certification Authorities</a>
      </li>
      <li>
        <a class="menu-link" href=""><i></i>Certificates</a>
      </li>
    </ul>
  </div>
  <div class="menu-group">
    <div class="menu-group-title">
      <div class="menu-group-toggle"><i class="config"></i>IPAM</div>
      <i class="menu-arrow"></i>
    </div>
    <ul>
      <li>
        <a class="menu-link" href=""><i></i>IP Addresses</a>
      </li>
      <li>
        <a class="menu-link" href=""><i></i>Subnets</a>
      </li>
    </ul>
  </div>
  <div class="menu-group">
    <div class="menu-group-title">
      <div class="menu-group-toggle">
        <i class="controller"></i>Configuration
      </div>
      <i class="menu-arrow"></i>
    </div>
    <ul>
      <li>
        <a class="menu-link" href=""><i class="template"></i>Templates</a>
      </li>
      <li>
        <a class="menu-link" href=""><i class="lock"></i>VPN Servers</a>
      </li>
      <li>
        <a class="menu-link" href=""><i></i>Access Creadentials</a>
      </li>
    </ul>
  </div>
  <div class="menu-group">
    <div class="menu-group-title">
      <div class="menu-group-toggle"><i class="geo"></i>Logistic</div>
      <i class="menu-arrow"></i>
    </div>
    <ul>
      <li>
        <a class="menu-link" href=""><i class="location"></i>Locations</a>
      </li>
      <li>
        <a class="menu-link" href=""><i class="floor"></i>Floorplans</a>
      </li>
    </ul>
  </div>
  <div class="menu-group">
    <div class="menu-group-title">
      <div class="menu-group-toggle"><i class="pki"></i>PKI</div>
      <i class="menu-arrow"></i>
    </div>
    <ul>
      <li>
        <a class="menu-link" href=""><i></i>Certification Authorities</a>
      </li>
      <li>
        <a class="menu-link" href=""><i></i>Certificates</a>
      </li>
    </ul>
  </div>
  <div class="menu-group">
    <div class="menu-group-title">
      <div class="menu-group-toggle"><i class="config"></i>IPAM</div>
      <i class="menu-arrow"></i>
    </div>
    <ul>
      <li>
        <a class="menu-link" href=""><i></i>IP Addresses</a>
      </li>
      <li>
        <a class="menu-link" href=""><i></i>Subnets</a>
      </li>
    </ul>
  </div>
  <div class="menu-group">
    <div class="menu-group-title">
      <div class="menu-group-toggle">
        <i class="controller"></i>Configuration
      </div>
      <i class="menu-arrow"></i>
    </div>
    <ul>
      <li>
        <a class="menu-link" href=""><i class="template"></i>Templates</a>
      </li>
      <li>
        <a class="menu-link" href=""><i class="lock"></i>VPN Servers</a>
      </li>
      <li>
        <a class="menu-link" href=""><i></i>Access Creadentials</a>
      </li>
    </ul>
  </div> {% endcomment %}
  <a class="menu-link" href="{% url 'admin:logout' %}">
    <i class="logout" ></i>{% translate 'Log out' %}</a
  >
</div>
