{% load i18n %}
<button title="close Menu" class="menu-toggle">
  <i></i>
</button>
<div class="nav">
  <a class="menu-item" href="{% url 'admin:index' %}">
    <i class="home"></i>
    <span class="menu-label">{% trans 'Home' %}</span>
  </a>
  {% for item in openwisp_menu_groups %} {% if item.sub_items %}
  <div class="menu-group">
    <div class="mg-head">
      <div class="mg-heading">
        <i class="{{ item.icon }}"></i>
        <span class="menu-label">{{ item.label }}</span>
      </div>
      <i class="menu-arrow"></i>
    </div>
    <div class="mg-dropdown">
      <div class="mg-dropdown-label">{{ item.label }}</div>
      <ul class="mg-list">
        {% for sub_item in item.sub_items %}
        <li>
          <a class="mg-link" href="{{ sub_item.url }}">
            <i class="{{ sub_item.icon }}"></i>
            <span>{{ sub_item.label }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% else %}
  <a class="menu-item" href="{{ item.url }}">
    <i class="{{ item.icon }}"></i>
    <span class="menu-label">{{ item.label }}</span>
  </a>
  {% endif %} {% endfor %}
  {% comment %} TODO: Remove below link before merge {% endcomment %}
  <a class="menu-item" href="{% url 'admin:index' %}">
    <i class="home"></i>
    <span class="menu-label">{% trans 'Home' %}</span>
  </a>
</div>
