{% extends 'admin/base_site.html' %}
{% load static %}
{% block title %}OpenWISP2 Dashboard{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/ow-dashboard.css" %}" />
{% endblock %}

{% block content %}
<div id='plot-container'></div>
{% endblock content %}

{% block footer %}
{{ block.super }}
<script>
	const dashboardConfig = {{ dashboard_config | safe }};
</script>
<script src="{% static 'admin/vendor/js/plotly-cartesian.min.js' %}"></script>
<script src="{% static 'admin/js/ow-dashboard.js' %}"></script>
{% endblock footer %}
