.auth {
  mask-image: url("./icons/auth.svg");
  -webkit-mask-image: url("./icons/auth.svg");
}
.shelf {
  mask-image: url("./icons/shelf.svg");
  -webkit-mask-image: url("./icons/shelf.svg");
}
.docs {
  mask-image: url("./icons/docs.svg");
  -webkit-mask-image: url("./icons/docs.svg");
}
.code {
  mask-image: url("./icons/code.svg");
  -webkit-mask-image: url("./icons/code.svg");
}
.link {
  mask-image: url("./icons/link.svg");
  -webkit-mask-image: url("./icons/link.svg");
}
.add-user {
  mask-image: url("./icons/add-user.svg");
  -webkit-mask-image: url("./icons/add-user.svg");
}
